@import url("https://fonts.googleapis.com/css2?family=Borel&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
  padding: 16px;
}

.logo {
  font-size: 32px;
  color: #f9faf8;
  margin: 0;
  padding: 16px;
  text-align: center;
}

.logo > p {
  font-weight: bold;
  font-style: italic;
  font-family: "Borel", cursive;
  margin-top: 13px;
  padding: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 32px;
  background-color: #1f2937;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 64px;
  color: white;
  font-size: 20px;
}

.content-text > h1 {
  margin-bottom: 20px;
  font-style: italic;
  font-family: "Borel", cursive;
}

#cake {
  width: 450px;
  height: 350px;
  padding: 32px;
  margin-right: 64px;
  border-radius: 64px;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 64px;
}

.random {
  margin-bottom: 40px;
}

.random-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  justify-content: center;
}

.products > p {
  margin-top: 12px;
}

.products > img {
  width: 250px;
  height: 180px;
  border-radius: 25px;
  border: 2px solid #3882f6;
}

.comments {
  background-color: #E5e7eb;
  margin: 0;
}

.comments > h3 {
  text-align: center;
  padding: 32px;
}

.comments > p {
  font-size: 16px;
  text-align: center;
  padding: 40px 120px;
  font-style: oblique;
}

.contact {
  margin: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
  color: white;
}

.contact > button {
  margin: 0;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid black;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: white;
  padding: 30px;
}